<%- include('../partials/header') %>

<section id="show-page">
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div><br>
    <div>Airport:</div>
    <div><%= flight.airport %></div><br>
    <div>Airline:</div>
    <div><%= flight.airline %></div><br>
    <div>Departure Date:</div>
    <div class="<%=flight.departs < new Date() ? 'past-date':''%>"><%= flight.departs %></div>
</section>
<br>
<% if (flight.destinations.length) { %>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Airport</th>
            </tr>
        </thead>
        <tbody>
            <% flight.destinations.sort((a, b) => a.arrival - b.arrival).forEach(function(r) { %>
                <tr>
                    <td><%= r.arrival %></td>
                    <td><%= r.airport %></td>
                </tr>
           <% }); %>
        </tbody>
    </table>
<% } else { %>
    <br>
<% } %>
<br>
<h3>New Destination</h3>
<form id="new-destination-form" method="POST" action="/flights/<%=flight._id%>/destinations">
<label>Airport</label>
<select name="airport">
    <% const usedAirports = [flight.airport, ...flight.destinations.map(destination => destination.airport)]; %>
    <% const allAirports = ['AUS', 'DEN', 'LAX', 'ATL', 'DFW']; %>
        <% allAirports.forEach(airport => {
            if (!usedAirports.includes(airport)) { %>
                <option><%= airport %></option>
            <% }
        }); %>
</select><br>
<input type="datetime-local" name="arrival" min="<%= flight.departs.toISOString().substring(0,16) %>">
<br><br>
<button type="submit">Add Destination</button> 
</form>
<h2>All Tickets</h2>
<ul>
    <%tickets.forEach(function(ticket) { %>
        <li><form action="/tickets/<%= ticket._id %>?_method=DELETE" method="POST"><%=ticket.seat %> - $<%= ticket.price %> - <button type="submit">Delete</button></form></li>
    <% }); %>
</ul>
<a href="/flights/<%=flight._id%>/tickets/new">New Ticket</a>


<%- include('../partials/footer') %>